.card {
  margin: 200px 600px;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.781);
  border-radius: 14px;
  background-color: white;
  width: 450px;
  height: 500px;
  background-color: #498553;
  overflow-y: scroll;
}

.card::-webkit-scrollbar {
  border-radius: 5px;
  background-color: #5b9d66;
}
.card::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #d7eadd;
}
.card::-webkit-scrollbar-thumb:hover {
  background-color: #498553;
}
