* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  background-color: #498553;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;
}
nav ul li {
  margin: 0 5px;
}
nav h1 {
  color: #e9f3ed;
  font-size: 24px;
  font-family: Ubuntu, sans-serif;
  margin-right: 0.5rem;
}

nav a {
  color: #000000;
  margin-right: 20px;
  text-decoration: none;
  height: 100%;
}

nav a:hover,
nav a:active,
nav a.active {
  color: #d1d1d1;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #d1d1d1;
}
